<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Personal card</title>
        <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">

    </head>
    <style>       
        
    </style>
    <body>
        <div class="wrapper" id="app">
            <div :class="bgColor" :style={background:inputColor1}>
                <div class="card-img">
                    <img src="" alt="" :src="imgSrc">
                </div>
                <div class="card-text">
                    <div class="card-text-info" :class="cardInfoStyle">
                        <!-- 姓名 -->
                        <h3 v-bind:title="name">
                            {{name}}
                            <br>
                            {{subTitle}}
                        </h3>

                        <!-- 內容 -->
                        <h4 v-if="showAngular">Angular</h4>
                        <h4 v-else-if="showReact">React</h4>
                        <h4 v-else>Vue</h4>
                        <!-- <ul class="card-text-work">
                            <li v-for="todo in todos">
                                {{ todo.text }}
                            </li>
                        </ul> -->
                        <!-- <h4>
                            {{title}}
                        </h4> -->
                        <!-- 日期 -->
                        <h5>
                            {{date}}
                        </h5>

                        <!-- <input type="text" v-model="greeting" class="inputText"> -->
                        <!-- <button @click="onSubmit">Submit</button> -->
                        <!-- <input type="color" v-model="inputColor1"> -->
                        <!-- <input type="color" v-model="inputColor2"> -->
                        <!-- <button @click="changeColor">Submit</button> -->
                    </div>
                </div>
                
            </div>
            
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="vue/script.js"></script>
    </body>
</html>